<launch>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"	command="$(find xacro)/xacro '$(find agv_low)/robots/agv_urdf.xacro' prefix:=agv_ --inorder"/>

<!--	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="/joint_states" to="joint_states" />
	</node> -->
  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
  	<!-- start robot state publisher -->
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    		<param name="publish_frequency" type="double" value="50.0" />
  	</node>

</launch>
