<?xml version="1.0" encoding="UTF-8"?>

<robot name="agv" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="$(find agv_low)/urdf/bases/agv_low_base_gazebo_urdf.xacro" />
	<xacro:macro name="agv_base" params="prefix">
	
	<link name="${prefix}base_footprint">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" /> <!-- "0.48 -0.0245 0.27" -->
			<geometry>
				<box size="0.001 0.001 0.001" />
			</geometry>
		</visual>
	</link>

	<joint name="${prefix}base_footprint_joint" type="fixed">
		<origin xyz="0 0 0.338" rpy="0 0 3.14" /> <!-- "0.48 -0.0245 0" -->
		<parent link="${prefix}base_footprint"/>
		<child link="${prefix}base_link" />
	</joint>
	<link name="${prefix}base_link">
<!--		<inertial>
    			<origin rpy="0 0 0" xyz="0.483 0.135 -0.025"/>
    			<mass value="39.096"/>
    			<inertia ixx="2.379" ixy="0.005" ixz="0" iyy="4.190" iyz="-0.001" izz="2.553"/>
  		</inertial>
-->
		<inertial>
    			<origin rpy="0 0 0" xyz="0 0 0"/>
    			<mass value="40.0"/>
    			<inertia ixx="1.167" ixy="0.0" ixz="0.0" iyy="2.808" iyz="0.0" izz="2.241"/>
  		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/> <!-- xyz="0 0 0.338" -->
			<geometry>
				<mesh filename="package://agv_low/meshes/Plattform Baugruppe_20171217_WO_wheels_collision_as_original_newxyz.stl"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<origin xyz="0 0 -0.15" rpy="0 0 0"/> <!-- "0.48 -0.0235 0.188" -->
			<geometry>
				<box size="1.020 0.763 0.300"/> <!-- 1.020 0.763 0.300 -->
			</geometry>
		</collision>
	</link>
	
	<gazebo reference="${prefix}base_link">
		<material>Gazebo/White</material>
		<turnGravityOff>false</turnGravityOff>
	</gazebo>
	</xacro:macro>
	
</robot>
