<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find agv_low)/urdf/bases/agv_low_base_urdf.xacro" />

<!--	<xacro:include filename="$(find agv_low)/urdf/bases/agv_low_base_gazebo_urdf.xacro" /> -->
  
	<!-- Import summit XL wheels collision -->
	<xacro:include filename="$(find agv_low)/urdf/wheels/agv_low_wheel_urdf_youbot_collision.xacro" />

	<!-- Import summit XL wheels visual -->
	<xacro:include filename="$(find agv_low)/urdf/wheels/agv_low_wheel_urdf_visualwheel.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find agv_low)/urdf/sensors/all_sensors.urdf.xacro" />

	<!-- Import all colors -->
	<xacro:include filename="$(find agv_low)/urdf/materials.xacro" />

	<!-- ros controller -->
        <xacro:include filename="$(find agv_low)/urdf/ros_controller.urdf.xacro" />


	<xacro:arg name="prefix" default="agv_"/>

    	<xacro:macro name="agv" params="prefix">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->

		<xacro:agv_base prefix="$(arg prefix)" />

		<xacro:mecanum_wheel_youbot_collision prefix="${prefix}front_left" angle="-1" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_youbot_collision prefix="${prefix}front_right" angle="1" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_youbot_collision prefix="${prefix}back_left" angle="-1" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_youbot_collision prefix="${prefix}back_right" angle="1" parent="${prefix}base_link" />

		<xacro:mecanum_wheel_visual prefix="${prefix}front_left" angle="-1" wheel_pos="1" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_visual prefix="${prefix}front_right" angle="1" wheel_pos="0" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_visual prefix="${prefix}back_left" angle="-1" wheel_pos="0" parent="${prefix}base_link" />
  		<xacro:mecanum_wheel_visual prefix="${prefix}back_right" angle="1" wheel_pos="1" parent="${prefix}base_link" />

		<!-- Gazebo ros control pluggins -->

  		<!-- IMU -->

		<xacro:sensor_imu_hector prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
			<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
		</xacro:sensor_imu_hector>

		<xacro:sensor_sick_s300 prefix="$(arg prefix)s300_front" parent="$(arg prefix)base_link" prefix_topic="front_laser">
			<origin xyz="0.41 0.320 0.0" rpy="0 0 0"/>
		</xacro:sensor_sick_s300>
		
		<xacro:sensor_sick_s300 prefix="$(arg prefix)s300_back" parent="$(arg prefix)base_link" prefix_topic="back_laser">
			<origin xyz="-0.41 -0.320 0.0" rpy="0 0 3.1416"/>
		</xacro:sensor_sick_s300>


		<xacro:sensor_asus_xtion_pro prefix="$(arg prefix)xtion" parent="$(arg prefix)base_link" >
			<!--<origin xyz="0.900 -0.0235 0.338" rpy="0 0 0" /> -->
 			<!--<origin xyz="0.87852 -0.0015 0.36875" rpy="0 -1.571 0" /> -->
			<origin xyz="0.39852 -0.0015 0.03075" rpy="0 -1.571 0" /> <!-- "0.39852 -0.0015 0.36875" rpy="0 -1.571 0" -->
		</xacro:sensor_asus_xtion_pro>

		<xacro:sensor_asus_xtion_pro_stand prefix="$(arg prefix)xtion_stand" parent="$(arg prefix)base_link" >
			<!--<origin xyz="0.900 -0.0235 0.338" rpy="0 0 0" /> -->
			<origin xyz="0.42 -0.0235 0.0" rpy="0 0 0" />	
		</xacro:sensor_asus_xtion_pro_stand>

   	</xacro:macro>
   
   <!-- Gazebo ros control pluggins -->

   <!-- <xacro:ros_control /> -->
	
   <!-- <xacro:ros_force_based_move prefix="$(arg prefix)"/> -->
<!--   <xacro:planar_move prefix="$(arg prefix)"/> -->

   <xacro:fourwheel_visual_diff_drive prefix="$(arg prefix)"/>

   <xacro:agv prefix="$(arg prefix)"/>

   
   <!--<xacro:xtion_stand parent="agv_base_link" tilting_angle="0" /> -->


</robot>

